
@font-face {
    font-family: 'flame';
    src: url('assets/fonts/Flame-Bold.woff') format('woff');
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'flame', sans-serif;
    background-color: rgb(248, 241, 231);
}

.navbar {
    border-bottom: 1px solid black;
    padding: 0px 80px ;
}

hr {
    width: 100vw;
}

.bk-logo {
    width: 180px;
    height: auto;
    color: black;
    align-self: center;
}

.cont-nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(248, 241, 231);
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.cont-nav .btn {
    background-color: #d62201;
    font-family: 'flame', sans-serif;
    font-size: smaller;
    color: whitesmoke;
    border-radius: 15px;
    height: 33px;
    width: auto;
}

.btn .cart-icon {
    filter: invert(1) grayscale(100%) brightness(100%) sepia(100%) hue-rotate(180deg);
    width: 22px;
    height: auto;
}

.nav-tog {
    border: 0;
}

.cont-nav .nav-tog .icon {
    width: 10%;
}

.cont-nav .grp-1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.cont-nav .user-icon {
    width: 25px;
    height: 25px;
}

.hero { 
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px 40px;
    gap: 80px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 35%;
    font-size: 60px;
    font-weight: 1000;
    line-height: 72px;
    font-family: 'flame', sans-serif;
    padding: 50px;
}

.hero-left p {
    color: #502214;
}

.hero-right {
    width: 65%;
    display: flex;
    justify-content: center;
}

.two-btn {
    margin: 50px 20px 0;
    display: flex;
    flex-direction: column;
}

.hero-left .btn1 {
    background-color: #d62201;
    color: whitesmoke;
    border-radius: 30px;
    border: 1px solid whitesmoke;
    width: 200px;
    height: 50px;
}

.cont-nav {
    background-size: contain;
    width: 100%;
    border-bottom: 1px solid black;
    
}

.cont-nav img {
    max-width: 700px;
    max-width: 100%;
    height: auto;
}

.hero-left .btn2 {
    color: #502250;
    border-radius: 30px;
    border: 1px solid whitesmoke;
    width: 200px;
    height: 50px;
}

@media (max-width: 376px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navbar {
        padding: 0 !important;
        border: none !important;
        max-width: 100% !important;
        
    }

    .cont-nav {
        display: flex;
        flex-direction: row-reverse;
        max-width: 100% !important;
        padding: 10px 20px !important;
        border-bottom: black;
    }
    .bk-logo{
        width: 120px !important ;
        align-self: flex-start;
    }
    .cart-btn{
        display: none;
    }
    .user-icon{
        width: 20px;
    }


    .hero {
        max-width: 100% !important;
        padding: 0 !important;
    }

    .cf2 {
        /* background; */
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100% !important;
        background-color: #f8f1e7;
        padding: 0 !important;
        overflow: hidden;
    }

    .cf2 img {
        max-width:750px 
         !important;
    }


    .hero-left {
        display: none !important;
    }
    .hero-right{
        display: none;
    }
    .nav-tog{
        display: flex;
        padding: 0px !important;
        flex-direction: row;
        align-content: center;
        
    }
    .tog-btn{
        background-color: #f8f1e7;
        border: none;
    }

}